* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* menu */
nav {
    background-color: #fff;
    border-bottom: 1px solid #d0d0d0;
    height: 80px;
    width: 100%;
    position: relative;
    z-index: 1;
}

label.logo {
    align-items: center;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    margin-right: auto;
}

label.logo img {
    height: 60px;
    width: auto;
}

nav ul {
    float: right;
    margin-right: 50px;
    text-decoration: none;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    text-decoration: none;
}

nav ul li a {
    color: rgb(78, 78, 78);
    font-size: 15px;
    padding: 5px 11px;
    border-radius: 3px;
    text-decoration: none;
}

nav a.active,
nav a:hover {
    background-color: #FE947F;
    transition: .5s;
    color: white;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media(max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media(max-width: 858px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: rgb(163, 159, 159);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        line-height: 30px;
    }

    nav ul li {
        display: block;


    }

    nav ul li a {
        font-size: 20px;
        color: white;
    }

    nav a:hover,
    nav a.active {
        background-color: none;
        color: white;
    }

    #check:checked~ul {
        left: 0;
    }
}

/* title */
.title p {
    padding-top: 15px;
    font-size: 20pt;
    font-weight: bold;
    margin-bottom: 0;
}

/* menu da barra de pesquisa */
.bar-search ul li {
    display: inline-flex;
    justify-content: center;
    padding: 6px;
}

.bar-search ul li a {
    position: relative;
    text-decoration: none;
    font-size: 11pt;
    color: black;
}

.bar-search ul li a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0%;
    background-color: rgb(0, 0, 0);
    left: 0;
    bottom: 0;
    transition: all 0.3s ease;
}

.bar-search ul li a:hover::after {
    width: 100%;
}

.bar-search  p {
    font-size: 12pt;
}

/* container da barra de pesquisa */
.container-search {
    width: 100px;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 0.5px rgba(0, 0, 0, 0.175);
    padding: 8px 0px 8px 35px;
}

.search label {
    margin-right: 5px;
    font-size: .8rem;
    color: #6e6e6e
}

input {
    margin-right: 15px;
    border-color: #6e6e6e1e;
    border-radius: 5px;
}

#submit {
    padding: 10px 30px 10px 30px;
    border-radius: 7px;
    border: 0;
    background-color:  #FE937F;
    color: #fff;
}

/* hoteis com as melhores avaliações*/
.container-hotel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.234);
    border-radius: 10px;
    width: 320px;
    height: auto;
}

.container-hotel-img {
    border-radius: 10px;
    width: 320px;
    height: 180px;
    background-color: #61f4de;
}

.container-hotel-img img {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 100%;
}

.hotel-text {
    padding: 10px;
}

.hotel-text p:nth-child(1) {
    color: #FE937F;
    font-weight: bold;
    font-size: 1.1rem;
}

.hotel-text p:nth-child(2) {
    font-size: 0.9rem;
}

.hotel-text img {
    width: 120px;
}

/* carousel */
.container-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.wrapper {
    max-width: 1200px;
    position: relative;
}

.wrapper i {
    top: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    cursor: pointer;
    color: rgb(54, 54, 54);
    font-size: 1.6rem;
    line-height: 28px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    transform: translateY(-50%);

}

.wrapper i:last-child {
    left: -23px;
}

.wrapper i:first-child {
    right: -23px;
}

.wrapper .carousel {
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
}

.carousel img {
    height: 220px;
    object-fit: cover;
    width: calc(100% / 4);
    margin-left: 14px;
    border-radius: 5px;
    position: relative;
}

.carousel img:first-child {
    margin-left: 0px;
}

@media screen and (max-width: 900px) {
    .carousel img {
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 550px) {
    .carousel img {
        width: 100%;
    }
}

/* banner app */

.app {
    display: flex;
    background-color: #fe927f50;
    flex-direction: row;
    border-radius: 5px;
}

.app .title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    margin-left: 50px;
    margin-top: 15px
}

.app .title .qr-code {
    margin-top: 10px;
    width: 100px;
    height: 100px;
}

.app .title .qr-code img {
    align-items: center;
    height: auto;
    width: 100%;
}

.app .title .programms {
    display: flex;
    flex-direction: row;
    width: 150px;
    height: 50px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.app .title .programms img {
    width: 100%;
    height: auto;
}

.app .img-cell {
    margin-left: 150px;
    width: 370px;
    height: 320px;
    align-content: center;
}

.app img {
    width: 100%;
    height: auto;
}

/* diferenciais */

.content-text-differences {
    background-color: #fff;
    margin: 15px;
    padding: 10px;
    border-radius: 5px;
}

.content-text-differences p:nth-child(1) {
    font-size: 1rem;
    font-weight: bold;
}

.content-text-differences p:nth-child(2) {
    font-size: 0.8rem;
}


/* footer */
footer {
    margin-top: 5rem;
    position: relative;
    bottom: 0;
}

footer #myForm {
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
}

footer #myForm .text {
    color: #fff;
    height: auto;
    width: 100%;
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
}

footer #myForm .input-nome {
    width: 100%;
    height: auto;
}

footer #myForm .input-nome input {
    padding: 0.50rem;
    width: 100%;
    border: none;
    outline: none;
}

footer #myForm .input-email {
    width: 100%;
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

footer #myForm .input-email input {
    padding: 0.50rem;
    width: 100%;
    border: none;
    outline: none;
}


footer #myForm .input-btn {
    width: 100%;
    height: auto;
}

footer #myForm .input-btn input {
    width: 100%;
    border: none;
    outline: none;
    background: #FE937F;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0.50rem;
    transition: all 0.3s ease-in-out;
}

footer #myForm .input-btn input:hover {
    background: #f47761;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.288);
    border-radius: 10px;
    cursor: pointer;
}

.span-required-footer {
    display: none;
    margin: 3px 0 0 1px;
    font-size: 12px;
    color: #ffffff;
    font-weight: bold;
}

footer .container .icones {
    margin-top: 2rem;
    text-align: left;
}


footer .container .icones img {
    margin-right: 10px;
}

.fluid {
    height: auto;
    width: 100%;
    background: blueviolet;
}